
  /* Accordion styles */
  .faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .faq-header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .faq-accordion-btn {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #333;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .faq-accordion-btn:hover {
    background-color: #f2f2f2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .faq-accordion-content {
    display: none;
    background-color: #f9f9f9;
    color: #333;
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
  }
  
  .faq-accordion-btn.active {
    background-color: #243c5a;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .faq-accordion-content.active {
    display: block;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  